body {
  padding-top:55px;
}

.home-page-logo{
  margin-top:60px;
  margin-bottom:70px;
}

.chart-logo{
  border: 3px solid black;
  border-radius: 7px;
  margin-bottom:5px;
}

.home-page-title{
  font-size: 32px;
  font-family: Georgia, serif;
}

.btn-landing {
  width: 180px;
  margin:5px;
  background: #0087C8;
  color: white;
}
.navbar-default {
    background-color: #fff;
}

.title-row{
  font-size: 20px;
  padding: 10px 0 10px 0;
}

.inputs-area {
  margin-bottom: 10px;
}

.form-group select{
  padding-right: 5px;
}

.form-control{
  text-align: right;
  font-weight: bold;
  height: 28px;
  padding: 2px 4px;
  margin: 2px;
}

.input-color {
  color: #3366CC;
}

.alt-color .input-color {
  color: red;
}
  
.prominent-output-old{
  font-size:14px;
  text-align: center;
  margin: 15px 20px 0 20px;
  border: 3px solid black;
  border-radius: 15px;
  padding: 10px;
}

.prominent-output{
  font-size: 14px;
  /*font-weight: bold;*/
  text-align: center;
  margin: 15px 20px 0 20px;
  border: 2px solid black;
  border-radius: 13px;
  padding: 10px;
}

/*Because ng-cloak not working as expected */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.graph {
  padding: 10px 0 0 10px;
  height: 100%;
  width: 100%;
}

.chart{
  height: 100%;
  max-height: 175px;
  width: 100%;
}

.graph label{
  margin: 5px 0 10px 25px;
  font-size: 12px;
  width: 100%;
}

