body {
  padding-top:55px;
}

.btn-landing{
  width: 130px;
  margin:10px;
  background: #0087C8;
  color: white;
}
.navbar-default {
    background-color: #fff;
}

.title-row{
  font-size: 20px;
  padding: 10px 0 20px 0;
}

.form-group select{
  padding-right: 5px;
}

.form-control{
  text-align: right;
  font-weight: bold;  
}
.turnout {
  color: #3366CC;
}

.wastage {
  color: red;
}
  
.wastage-percentage{
  font-size:16px;
  text-align: center;
  margin: 15px 40px 0 40px;
  border: 3px solid black;
  border-radius: 15px;
  padding: 10px;
}

/*Because ng-cloak not working as expected */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.chart{
  padding: 5px 0;
}

.form-control{
  height: 28px;
  padding: 2px 4px;
  margin: 2px;
}

.control-label {
    margin: 5px 0;
}