body {
  padding-top:55px;
}

.wastage-percentage{
  font-size:20px;
  text-align: center;
  margin: 15px 40px 0 40px;
  border: 3px solid black;
  border-radius: 15px;
  padding: 10px;
}

.chart{
  padding: 20px 0;
}

.form-control{
  height: 28px;
  padding: 2px 4px;
  margin: 2px;
}

.control-label {
    margin: 5px 0;
}